{% for mix in mixes %}
    <div style="height:2em;"></div>
        <div class="w3-container w3-display-container miximg w3-center" style="background-image: url('{{mix.image.url}}'); margin:auto; height:256px; width:80%; min-width:400px">
            <div class="w3-display-middle" style="width: 80%">
                <div class="w3-header w3-black w3-center" style="padding:10px;">
                    <div class="mix-title">
                        <a href="{{mix.permalink}}">{{ mix.title }}</a>
                    </div>
                    <audio controls="controls" preload="metadata" style="width: 100%; min-width: 300px;">
                        <source src="{{ mix.url }}">
                    </audio>
                    <div class="mix-comment">
                        {{ mix.date.strftime('%B %d, %Y') }} <br/> {{ mix.comment }}
                    </div>
                </div>
            </div>
        </div>
    <div style="height:2em;"></div>
{% endfor %}
