<!DOCTYPE html>
<html lang="en">
<head>
  <title>Erratic Pleasure</title>
  <meta charset="utf-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<style>
{% include 'site.css' %}

.bgimg-1 {
    background-image: url('/static/record.png');
    min-height: 60%;
}

</style>
</head>
<body>

<div class="bgimg-1 w3-display-container" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-xlarge w3-black w3-xxxlarge w3-wide w3-hide-small nervous">ERRATIC PLEASURE</span>
    <div class="w3-center w3-padding-large w3-black w3-xxlarge w3-wide w3-hide-medium w3-hide-large nervous">ERRATIC<br>PLEASURE</div>
  </div>
</div>

{% include 'mixlist.html' %}
	
<footer class="w3-center w3-black w3-text-grey w3-opacity w3-hover-opacity-off">
	<small>by Maximus</small>
</footer>
<body>
</html>