@font-face {
	font-family: Nervous;
    src: url(/static/fonts/Nervous.ttf);
}  

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato";
}

body, html {
    height: 100%;
    line-height: 1.8;
 	background: black;
}

/* Create a Parallax Effect */
.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.miximg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/static/record.png');
    min-height: 100%;
}

.label {
	font-family: "Lato";
    color: white;
}

.nervous {font-family: Nervous;} 

.mix-box {
    background: rgba(0, 0, 0, 0.7);
    padding:10px;
}

.mix-title {
    letter-spacing: 10px;
    font-weight: bold;
    font-size: large;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.mix-comment {
    letter-spacing: 1px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1 {
        background-attachment: scroll;
    }
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

