@font-face {
	font-family: Nervous;
    src: url(/static/fonts/Nervous.ttf);
}  

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato";
}

body, html {
    height: 100%;
    line-height: 1.8;
 	background: black;
}

.bgimg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/record.png');
    min-height: 100%;
}

.label {
	font-family: "Lato";
    color: white;
}

.nervous {
    font-family: Nervous;
}

.mix-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    height:256px;
    min-width:420px;
    max-width:1080px;
}

.mix-box {
    background: rgba(0, 0, 0, 0.7);
    padding:10px;
    width: 80%;
    min-width: 420px;
}

.mix-title {
    letter-spacing: 10px;
    font-weight: bold;
    font-size: large;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.mix-comment {
    letter-spacing: 1px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.w3-hover-opacity {
    cursor: pointer;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

